<div class="massenger-headbar">
  <div class="align-item-center wrapper">
    <div>
      <ul class="list-unstyled mb-0 pl-0">
        <li class="media">
          <img src="assets/images/logo.svg">
          <div>
            <h5 class="mb-0 mt-2 mb-0">Chat</h5>
          </div>
        </li>
        <!-- <li class="media"></li> -->
      </ul>
    </div>
    <div>
      <a>
        <!-- <img src="https://img.icons8.com/officexs/16/000000/logout-rounded.png"/> -->
        <img src="https://img.icons8.com/ultraviolet/40/000000/logout-rounded.png"/>
      </a>
    </div>
  </div>
</div>
