.wrapper-sidepanel {
  display: grid;
  // grid-template-rows:  minmax(10%, 1fr) minmax(10%, 1fr) 70% 10%;
  grid-template-rows:  100px 100px 1fr 100px;
  height: 100vh;
  align-items:inherit;

  // > div {
  //   border-color: red;
  //   border-style: solid;
  // }

  .scroll {
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
