// .sidepanel-userlist {
//   .nav {
//     display: flex;
//     flex-wrap: wrap;
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
//   }

//   .flex-column {
//     flex-direction: column!important;
//   }
// }

.wrapper {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    min-height: 200px;
   overflow: auto;
}
